
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@{
    var token = ViewData["token"];
    var customerID = ViewData["customerID"];

}


Token       :  <p>@token</p>

customer ID :  <p>@customerID</p>